<div class="row mb-4 justify-content-center">
  <div class="col-12 col-md-6 text-center">
    <img [src]="book.imagePath" alt="Book Image" class="img-fluid rounded shadow-sm" style="max-width: 150px;">
  </div>
</div>

<div class="row mb-2 justify-content-center">
  <div class="col-12 text-center">
    <h1 class="mb-1">{{book.title}}</h1>
    <h2 class="text-muted">By {{book.author}}</h2>
  </div>
</div>

<div class="row mb-4 justify-content-center">
  <div class="col-12 text-center">
    <p class="font-weight-light">{{book.description}}</p>
  </div>
</div>

<div class="row mb-4 justify-content-center">
  <div class="col-12 text-center">
    <ul class="list-group">
      <li *ngFor="let quote of book.quotes" class="list-group-item">
        <h6>"{{quote.content}}"</h6>
        <span>-{{quote.author}}, {{quote.book}}</span>
        <div>
          <button
            class="btn btn-outline-warning"
            style="margin-top: 1rem"
            (click)="onAddQuoteToFavQuotes(quote)"
          >
              Add to Favorite Quotes
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row mb-3 justify-content-center">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-gear-fill me-2"></i>Manage Book
      </button>
      <ul class="dropdown-menu shadow">
        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square me-2"></i>Edit Book</a></li>
        <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill me-2"></i>Delete Book</a></li>
      </ul>
    </div>
  </div>
</div>
