<div class="row mb-3">
  <div class="col-12">
    <img src="" alt="Book Image" class="img-fluid">
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <h1>Book Title</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Book
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Edit Book</a></li>
        <li><a class="dropdown-item" href="#">Delete Book</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <h5>Description</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5>Ingredients</h5>
  </div>
</div>
